# Compulsory Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [1]:
import pandas as pd

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [2]:
df = pd.read_csv('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

In [10]:
# Select the 'Limit' and 'Rating' columns of the first five observations
df.columns = ['balance', 'income', 'limit', 'rating', 'cards', 'age', 'education', 'gender', 'student', 'married', 'ethnicity']
df_selected = df[['limit', 'rating']].head(5)

In [11]:
# Select the first five observations with 4 cards
observations_with_4_cards = df[df['cards'] == 4].head()

In [14]:
# Sort the observations by 'Education'. Show users with a high education value first.
df_sorted_by_education = df.sort_values(by='education', ascending=False)

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:]
```

In [ ]:
# [Add explanation here] Command to show all data in a table
df.iloc[:,:]

In [ ]:
# [Add explanation here] Command to show data from the 6th row to the last row and from the 6th column to the last column
df.iloc[5:,5:]

In [ ]:
# [Add explanation here] Command to show all data in the first column.
df.iloc[:,0]

In [ ]:
# [Add explanation here] Command to show all data in the 10th row.
df.iloc[9,:]